server {
    listen 80;
    listen [::]:80;
    server_name maleo.com;
    root /var/www/maleo.com;

    location / {
        try_files $uri $uri/ =404;
    }

    location /photos {
        alias /var/www/maleo.com/photos;
        autoindex on;
    }
}

